:root {
    --blue-shade: #3b5998;
    --light-blue: #1778F2;
}

@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@900&display=swap');

.facebook-logo {
    background-color: var(--light-blue);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 280px;
    font-size: 240px;
    font-weight: 600;
    border-radius: 50%;
    color: white;
    font-family: 'Akatab', sans-serif;
    margin: 30vh auto;
}